/* style.css */

/* Estilos generales */
body {
  background-color: #313e51;
  color: white;
  height: 100vh; /* Set body height to 100% viewport height */
  font-family: "Roboto", sans-serif;
  display: flex;
}

.containerPrincipal {
  /* background-color: black;
    max-width: 100%;
*/
  margin: auto;
  display: flex;
}

.center {
  margin: auto;
  background-color: darkgray;
  /*   max-width: 100%; */
  margin: auto;
}

.titulo {
  display: flex;
  flex-direction: column;
}
.titulo-main {
  font-size: 3rem;
}
.titulo-main span {
  font-weight: 900;
}

.grid {
  display: flex; /* Add flexbox layout */
  align-items: center; /* Vertically center text */
  justify-content: center;
  margin: auto; /* Horizontally center text (if needed) */
}
.temas .col {
  padding: 0.75rem;
  margin: 0.5rem;
  border-radius: 20px;
  background-color: #3c4d66;
  font-weight: bolder;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.477);
}
.temas .col:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

/* ### answers style */
.answer {
  display: none;
}
