/* style.css */

/* Estilos generales */
body {
  background-color: #313e51;
  color: white;
  height: 100vh; /* Set body height to 100% viewport height */
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
<<<<<<< Updated upstream

/* Estilos para la sección de títulos */
.titulo {
  /* background-color: aqua; */
  text-align: left;
  margin-left: 100px;
}

.titulo p {
  line-height: 0;
}

.welcomeTittle {
  font-size: 55px;
  font-weight: 100;
  padding-top: 20px;
}

.nameTittle {
  font-size: 52px;
  font-weight: bolder;
  padding-top: 35px;
}

.nameSubtittle {
  padding-top: 45px;
}

.temas, .answer {
  /* background-color: rgb(0, 41, 41); */
  padding-left: 80px;
}

.btn, .temas .col, .answer .col {
  /* Estilos para las columnas de temas */
  width: 400px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #3c4d66;
=======
.temas .col {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0.75rem;
  border-radius: 20px;
  background-color: var(--bg-item);
>>>>>>> Stashed changes
  font-weight: bolder;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.477);
}
<<<<<<< Updated upstream

.temas .col:hover{
  transform: scale(1.05);
=======
.temas .col:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
>>>>>>> Stashed changes
}

.answer .col:hover{
  transform: scale(1.05);
}

.btn{
  color: white;
  text-align: center;
}

.btn:hover{
  transform: scale(1.05);
}

.divimg {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  margin-right: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.correcta {
  border: 2px solid green;
  animation-duration: 1s;
}

<<<<<<< Updated upstream
.imag2{
  background-image: url(/Frontend_Quiz_app/images/icons8-css-48.png);
  background-color: rgba(0, 17, 255, 0.2);
}

.imag3{
  background-image: url(/Frontend_Quiz_app/images/icons8-js-48.png);
  background-color: rgba(246, 255, 0, 0.2);
}

.imag4{
  background-image: url(/Frontend_Quiz_app/images/icons8-oreja-48.png);
  background-color: rgba(179, 0, 255, 0.2);
}

.num1{
  background-image: url(/Frontend_Quiz_app/images/icons8-1-en-círculo-48.png);
  background-color: rgba(0, 255, 251, 0.2);
}

.num2{
  background-image: url(/Frontend_Quiz_app/images/icons8-2-48.png);
  background-color: rgba(0, 255, 251, 0.2);
}

.num3{
  background-image: url(/Frontend_Quiz_app/images/icons8-3-48.png);
  background-color: rgba(0, 255, 251, 0.2);
}

.num4{
  background-image: url(/Frontend_Quiz_app/images/icons8-4-en-círculo-48.png);
  background-color: rgba(0, 255, 251, 0.2);
}
=======
.incorrecta {
  border: 2px solid red;
  animation-duration: 1s;
}
>>>>>>> Stashed changes
