:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Configurando variables */
}

* {
  font-family: "Roboto", sans-serif;
  background-color: darkgray;
}

.main-grid {
  display: flex;
  grid-template-columns: auto auto;
}
.columnA {
  max-width: 50%;
  background-color: aqua;
  grid-column: 1 / 2;
  grid-row: 1;
}
.columnB {
  max-width: 50%;
  grid-column: 2 / 2;
  grid-row: 1;
}
